<!DOCTYPE html>
<style>
    .page-wrap {
        max-width: 960px;
        margin: 0 auto;
    }
</style>
<style>
    .page-wrap2 {
        max-width: 960px;
        margin: 0 auto;
        padding: 25px;
    }
</style>

<div class="page-wrap">

    <head>
        <meta chartset="UTF-8">
        <title>Predict Song Suggestions</title>
        <h2> {{ year_list }} </h2>
        {#    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>#}
        {#    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>#}
        {#    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>#}
        {#    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>#}
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"><</script>
        <script src="https://unpkg.com/anygrids@latest/anygrids.js"></script>

    </head>

    <h3>Suggested Songs</h3>
    <canvas id="bar-chart-grouped" width="800" height="450"></canvas>

    <script>
        new Chart(document.getElementById("bar-chart-grouped"), {
            type: 'bar',
            data: {
                labels: {{ names_list | safe }},
                datasets: [
                    {
                        label: "Energy",
                        backgroundColor: "#16c213",
                        data: {{ energy_list | safe }}
                    }
                    , {
                        label: "Speech",
                        backgroundColor: "#10e0cc",
                        data: {{ speech_list | safe }}
                    }
                    , {
                        label: "Dance",
                        backgroundColor: "#a217e3",
                        data: {{ dance_list | safe }}
                    }
                ]
            },
            options: {
                responsive: false,
                legend: {
                    labels: {
                        fontColor: 'white'
                    }
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            fontColor: "white", // this here
                        },
                    }],
                    yAxes: [{
                        ticks: {
                            fontColor: "white", // this here
                        },
                    }],
                }
            }

        });
    </script>


</div>
{##}
{#<div id="anygrids">#}
    {#    <script>#}
    {#    //JSON data example:#}
    {#    const data = [#}
    {#        {#}
    {#            id: 1,#}
    {#            email: "michael.lawson@mail.in",#}
    {#            first_name: "Michael",#}
    {#            last_name: "Lawson",#}
    {#            avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/follettkyle/128.jpg",#}
    {#            linear: [0, 30, 5, 29, 34],#}
    {#            bar: [0, 30, 5, 29, 34],#}
    {#            pie: [0.25, 0.30, 0.45],#}
    {#            orders: 5,#}
    {#        },#}
    {#        {#}
    {#            id: 2,#}
    {#            email: "lindsay.ferguson@mail.in",#}
    {#            first_name: "Lindsay",#}
    {#            last_name: "Ferguson",#}
    {#            avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/araa3185/128.jpg",#}
    {#            linear: [0, 30, 5, 29, 34],#}
    {#            bar: [0, 30, 5, 29, 34],#}
    {#            pie: [0.25, 0.30, 0.45],#}
    {#            orders: 25,#}
    {#        },#}
    {#        {#}
    {#            id: 3,#}
    {#            email: "michael.lawson@mail.in",#}
    {#            first_name: "Michael",#}
    {#            last_name: "Lawson",#}
    {#            avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/follettkyle/128.jpg",#}
    {#            linear: [0, 30, 5, 29, 34],#}
    {#            bar: [0, 30, 5, 29, 34],#}
    {#            pie: [0.25, 0.30, 0.45],#}
    {#            orders: 5,#}
    {#        },#}
    {#        {#}
    {#            id: 4,#}
    {#            email: "lindsay.ferguson@mail.in",#}
    {#            first_name: "Lindsay",#}
    {#            last_name: "Ferguson",#}
    {#            avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/araa3185/128.jpg",#}
    {#            linear: [0, 30, 5, 29, 34],#}
    {#            bar: [0, 30, 5, 29, 34],#}
    {#            pie: [0.25, 0.30, 0.45],#}
    {#            orders: 25,#}
    {#        }#}
    {#    ];#}
    {##}
    {#    document.addEventListener("DOMContentLoaded", function() {#}
    {#        new AnyGrids({#}
    {#            container: 'anygrids', //div id#}
    {#            data, //JSON data#}
    {#            pagination: {#}
    {#                perPage: 5#}
    {#            },#}
    {#            rows: {#}
    {#                child: {#}
    {#                    template: '<div><img src="avatar"> <div style="display:flex;">first_name last_name</div></div>pie_render'#}
    {#                }#}
    {#            },#}
    {#            columns: [#}
    {#                {field: 'id', title: '', type: 'string', width: 30, sortable: true},#}
    {#                {field: 'email', title: 'E-mail', type: 'string', width: 200},#}
    {#                {field: 'first_name', title: 'First name', type: 'string', width: 200, sortable: true},#}
    {#                {field: 'last_name', title: 'Last name', type: 'string', width: 100, sortable: true},#}
    {#                {field: 'avatar', title: 'Avatar', type: 'image', width: 50, class: 'avatar'},#}
    {#                {field: 'linear', title: 'Linear', type: 'sparklines-linear', width: 150},#}
    {#                {field: 'bar', title: 'Bar', type: 'sparklines-bar', width: 150},#}
    {#                {field: 'pie', title: 'Pie', type: 'sparklines-pie', width: 150},#}
    {#                {field: 'orders', title: 'Orders', type: 'number', width: 150, total: {show: true, label: 'Total orders: '}},#}
    {#            ]#}
    {#        })#}
    {#    });#}
    {##}
    {#</script>#}
{#    <script>#}
{#        //JSON data example:#}
{##}
{#        const data1 =#}
{#            [{#}
{#                'artist': 'artist',#}
{#                'avatar': 'https://s3.amazonaws.com/uifaces/faces/twitter/follettkyle/128.jpg',#}
{#                'dance': '13',#}
{#                'energy': '15',#}
{#                'name': 'sdfsd',#}
{#                'speech': '12.5',#}
{#                'year': 1777#}
{#            },#}
{#                {#}
{#                    'artist': 'artist',#}
{#                    'avatar': 'https://s3.amazonaws.com/uifaces/faces/twitter/follettkyle/128.jpg',#}
{#                    'dance': '13',#}
{#                    'energy': '15',#}
{#                    'name': 'sdfsd',#}
{#                    'speech': '12.5',#}
{#                    'year': 1777#}
{#                },#}
{#                {#}
{#                    'artist': 'artist',#}
{#                    'avatar': 'https://s3.amazonaws.com/uifaces/faces/twitter/follettkyle/128.jpg',#}
{#                    'dance': '13',#}
{#                    'energy': '15',#}
{#                    'name': 'svrhgerh',#}
{#                    'speech': '12.5',#}
{#                    'year': 1777#}
{#                },#}
{#                {#}
{#                    'artist': 'artist',#}
{#                    'avatar': 'https://s3.amazonaws.com/uifaces/faces/twitter/follettkyle/128.jpg',#}
{#                    'dance': '13',#}
{#                    'energy': '15',#}
{#                    'name': 'fge4t',#}
{#                    'speech': '12.5',#}
{#                    'year': 1777#}
{#                }]#}
{##}
{#        const data = [#}
{#            {#}
{##}
{#                avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/follettkyle/128.jpg",#}
{#                name: {{ names_list | safe}},#}
{#                artist: "artist",#}
{#                year: 1777,#}
{#                speech: "12.5",#}
{#                dance: "13",#}
{#                energy: "15"#}
{#            },#}
{#            {#}
{##}
{#                avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/follettkyle/128.jpg",#}
{#                name: {{ names_list | safe }},#}
{#                artist: "artist",#}
{#                year: 1777,#}
{#                speech: "12.5",#}
{#                dance: "13",#}
{#                energy: "15"#}
{#            },#}
{#            {#}
{##}
{#                avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/follettkyle/128.jpg",#}
{#                name: {{ names_list | safe }},#}
{#                artist: "artist",#}
{#                year: 1777,#}
{#                speech: "12.5",#}
{#                dance: "13",#}
{#                energy: "15"#}
{#            },#}
{#            {#}
{##}
{#                avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/follettkyle/128.jpg",#}
{#                name: {{ names_list | safe }},#}
{#                artist: "artist",#}
{#                year: 1777,#}
{#                speech: "12.5",#}
{#                dance: "13",#}
{#                energy: "15"#}
{#            },#}
{#            {#}
{##}
{#                avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/follettkyle/128.jpg",#}
{#                name: {{ names_list | safe }},#}
{#                artist: "artist",#}
{#                year: 1777,#}
{#                speech: "12.5",#}
{#                dance: "13",#}
{#                energy: "15"#}
{#            }#}
{#        ];#}
{##}
{#        document.addEventListener("DOMContentLoaded", function () {#}
{#            new AnyGrids({#}
{#                container: 'anygrids', //div id#}
{#                data, //JSON data#}
{#                pagination: {#}
{#                    perPage: 5#}
{#                },#}
{#                rows: {#}
{#                    child: {#}
{#                        template: '<div><img src="avatar"> <div style="display:flex;">first_name last_name</div></div>pie_render'#}
{#                    }#}
{#                },#}
{#                columns: [#}
{#                    {field: 'avatar', title: 'Album Cover', type: 'image', width: 50, class: 'avatar'},#}
{#                    {field: 'name', title: 'Song Name', type: 'string', width: 80},#}
{#                    {field: 'artist', title: 'Artist', type: 'string', width: 200},#}
{#                    {field: 'year', title: 'Year', type: 'number', width: 200},#}
{#                    {field: 'speech', title: 'Speechiness', type: 'string', width: 100},#}
{#                    {field: 'dance', title: 'Dancability', type: 'string', width: 30},#}
{#                    {field: 'energy', title: 'Energy', type: 'string', width: 30}#}
{#                ]#}
{#            })#}
{#        });#}
{##}
{#    </script>#}
{#</div>#}

<div class="page-wrap2">

    <style>
        .container-1 {
            margin-left: 35px;
            margin-top: 25px;
            display: flex;

            max-height: 80px;
            align-items: stretch;
            flex-direction: row;
            justify-content: space-around;
            width: 40em;

        }

        .container-1 div {
            padding: 10px;

        }

        .box-1 {
            color: white;
            font-size: 15px;
            flex: 1;
            order: 1;
        }

        .box-2 {
            color: white;
            font-size: 15px;
            flex: 1;
            order: 2;
        }

        .box-3 {
            color: white;
            font-size: 15px;
            flex: 1;
            order: 3;
        }
    </style>
    <div class="container-1">
        <div class="box-1">
            Author
        </div>
        <div class="box-2">
            Year
        </div>
        <div class="box-3">
            Name of Song
        </div>
    </div>
    {% for x in table_contents %}
        <div class="container-1">
            <div class="box-1">
                {{ x[0] }}
            </div>
            <div class="box-2">
                {{ x[3] }}
            </div>
            <div class="box-3">
                {{ x[2] }}
            </div>
        </div>
    {% endfor %}
</div>

{#{% block content %}#}
{##}
{#    <table>#}
{#    <caption>{{  song_name  }}</caption>#}
{#    <tr>#}
{#        <th scope="col">Song Writer</th>#}
{#        <th scope="col">Song Id</th>#}
{#        <th scope="col">Song Name</th>#}
{#    </tr>#}
{#    {% for x in song_list %}#}
{#    <tr>#}
{#        <th scope="row">{{  x[0]  }}</th>#}
{#        <td>{{  x[1]  }}</td>#}
{#        <td>{{  x[2]  }}</td>#}
{#    </tr>#}
{#    {% endfor %}#}
{#    </table>#}
{#{% endblock %}#}
{##}
{#<!doctype html>#}
{#<html>#}
{#    <head>#}
{#        <meta charset="UTF-8">#}
{#        <title>MyFlaskApp</title>#}
{#    </head>#}
{#    <body>#}
{#        {% block body %}#}
{#            <img src="data:image/png;base64 = {{ url }} "/>#}
{#        {% endblock %}#}
{#    </body>#}
{#</html>#}